<div *ngIf="loading" class="loading-container">
    <p-progressSpinner></p-progressSpinner>
</div>
<p-toast></p-toast>

<p-card header="Import Files">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="right">
            <p-fileUpload
                #fileUpload
                name="demo[]"
                (onSelect)="onFileSelect($event)"
                [multiple]="true"
                accept=".csv, .txt, .xls, .xlsx"
                [maxFileSize]="1000000"
                [customUpload]="true"
                (uploadHandler)="importFiles($event)">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles">
                    <li *ngFor="let file of uploadedFiles">
                        {{ file.name }} - {{ file.size }} bytes
                    </li>
                </ul>
            </ng-template>
            </p-fileUpload>

        </ng-template>
    </p-toolbar>
</p-card>

<!-- Monthly Bills Section -->
<p-card header="Monthly Bills" *ngIf="!loading">
    <!-- Reusable structure for monthly and non-monthly transactions -->
    <p-toolbar styleClass="mb-4">
        <button pButton pRipple label="Save Recon" icon="pi pi-check" class="p-button-info" (click)="saveReconHistory()"></button>
    </p-toolbar>

    <p-table [value]="monthly" [tableStyle]="{'min-width': '50rem'}">
        <!-- Table structure -->
        <ng-template pTemplate="header">
            <tr>
                <th>Bill Name</th>
                <th>SQL</th>
                <th>Transaction Description</th>
                <th>Transaction Date</th>
                <th>Due Date</th>
                <th>Transaction Amount</th>
                <th>Expected Amount</th>
                <th>Source</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction>
            <!-- Transaction details -->
            <tr>
                <td>{{ transaction.account_name }}</td>
                <td>
                    <p-inputGroup>
                        <input pInputText class="w-12rem" [(ngModel)]="transaction.sql">
                        <p-inputGroupAddon>
                            <i class="pi pi-save" style="cursor: pointer;" (click)="updateSql(transaction.billpk, transaction.sql)"></i>
                        </p-inputGroupAddon>
                    </p-inputGroup>
                </td>
                <!-- Other fields -->
                <td>{{ transaction.transaction_desc }}</td>
                <td>{{ transaction.transaction_date }}</td>
                <td>{{ transaction.due_date }}</td>
                <td>{{ transaction.transaction_amount }}</td>
                <td>{{ transaction.expected_amount * -1 }}</td>
                <td>{{ transaction.source }}</td>
                <td><p-tag [value]="transaction.transaction_desc ? 'paid' : 'unpaid'" [severity]="getSeverity(transaction.transaction_desc)" /></td>
                <td>
                    <p-button size="small" icon="pi pi-pencil" (click)="editTransaction(transaction)" [outlined]="true"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<!-- Non-Monthly Bills Section -->
<p-card header="Non Monthly Bills" *ngIf="!loading">
    <p-table [value]="nonmonthly" [tableStyle]="{'min-width': '50rem'}">
        <!-- Table structure similar to Monthly Bills -->
    </p-table>
</p-card>
