<p-table [value]="transactions" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Bill Name</th>
            <th>SQL</th>
            <th>Transaction Description</th>
            <th>Transaction Date</th>
            <th>Due Date</th>
            <th>Transaction Amount</th>
            <th>Expected Amount</th>
            <th>Source</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
        <tr>
            <td>{{ transaction.account_name }}</td>
            <td>
                <p-inputGroup>
                    <input pInputText class="w-12rem"
                           [(ngModel)]="transaction.sql">
                    <p-inputGroupAddon>
                        <ng-container *ngIf="!transaction.loading; else loadingTemplate">
                            <i class="pi pi-save" style="cursor: pointer;" (click)="updateSql(transaction.billpk, transaction.sql)"></i>
                        </ng-container>
                        <ng-template #loadingTemplate>
                            <i class="pi pi-spin pi-spinner"></i>
                        </ng-template>
                    </p-inputGroupAddon>
                </p-inputGroup>
            </td>
            <td>
                <ng-container *ngIf="transaction.isediting; else viewModeDesc">
                    <input pInputText [(ngModel)]="transaction.transaction_desc" type="text" style="width: 145px;"/>
                </ng-container>
                <ng-template #viewModeDesc>{{ transaction.transaction_desc }}</ng-template>
            </td>
            <td>
                <ng-container *ngIf="transaction.isediting; else viewModeDate">
                    <p-calendar
                            [(ngModel)]="transaction.transaction_date"
                            [iconDisplay]="'input'"
                            [showIcon]="true"
                            inputId="icondisplay"/>
                </ng-container>
                <ng-template #viewModeDate>{{ transaction.transaction_date }}</ng-template>
            </td>
            <td>{{ transaction.due_date }}</td>
            <td>
                <ng-container *ngIf="transaction.isediting; else viewModeAmount">
                    <input pInputText [(ngModel)]="transaction.transaction_amount" type="text" style="width: 73px;" />
                </ng-container>
                <ng-template #viewModeAmount>{{ transaction.transaction_amount }}</ng-template>
            </td>
            <td [ngClass]="{'text-red': transaction.isfixed && transaction.expected_amount * -1 !== transaction.transaction_amount}">
                {{ transaction.expected_amount * -1 }}
            </td>
            <td>
                <ng-container *ngIf="transaction.isediting; else viewModeSource">
                    <p-dropdown [options]="sourceOptions" [(ngModel)]="transaction.source" placeholder=""></p-dropdown>
                </ng-container>
                <ng-template #viewModeSource>{{ transaction.source }}</ng-template>

            </td>
            <td>
                <p-tag [value]="transaction.transaction_desc ? 'paid' : 'unpaid'"  [severity]="getSeverity(transaction.transaction_desc)" />
            </td>
            <td>
                <div class="button-container">
                    <p-button *ngIf="!transaction.isediting && transaction.transaction_desc === null" size="small" icon="pi pi-pencil" (click)="editTransaction(transaction)" [outlined]="true"></p-button>
                    <p-button *ngIf="transaction.isediting" size="small" icon="pi pi-save" (click)="saveTransaction(transaction)" [outlined]="true"></p-button>
                    <p-button *ngIf="transaction.loginpk > 0" size="small" (onClick)="toggleOverlayPanel($event, op, transaction.accountpk)" icon="pi pi-eye" [outlined]="true"></p-button>
                </div>
                <p-overlayPanel #op>
                    <div class="flex flex-column gap-3 w-25rem" *ngIf="account">
                        <div>
                            <span class="font-medium text-900 block mb-2">Url</span>
                            <p-inputGroup>
                                <input id="usernamePopup" pInputText value="{{account.url}}" readonly class="w-25rem" #urlInput>
                                <p-inputGroupAddon (click)="openUrlInNewTab(urlInput.value)">
                                    <i class="pi pi-external-link" style="cursor: pointer;"></i>
                                </p-inputGroupAddon>
                            </p-inputGroup>
                        </div>
                        <div>
                            <span class="font-medium text-900 block mb-2">Username</span>
                            <p-inputGroup>
                                <input pInputText value="{{account.username}}" class="w-25rem" #usernameInput>
                                <p-inputGroupAddon (click)="copyToClipboard(usernameInput)">
                                    <i class="pi pi-copy" style="cursor: pointer;"></i>
                                </p-inputGroupAddon>
                            </p-inputGroup>
                        </div>
                        <div>
                            <span class="font-medium text-900 block mb-2">{{passwordHeader}}</span>
                            <p-inputGroup *ngIf="!isPasswrodDecoded">
                                <input pInputText class="w-25rem" (keydown.enter)="showPassword(pinInput, account.password)" #pinInput>
                                <p-inputGroupAddon (click)="showPassword(pinInput, account.password)">
                                    <i class="pi pi-key" style="cursor: pointer;"></i>
                                </p-inputGroupAddon>
                            </p-inputGroup>
                            <p-inputGroup *ngIf="isPasswrodDecoded">
                                <input pInputText value="{{password}}" class="w-25rem" (keydown.enter)="copyToClipboard(passwordInput)" #passwordInput>
                                <p-inputGroupAddon (click)="copyToClipboard(passwordInput)">
                                    <i class="pi pi-copy" style="cursor: pointer;"></i>
                                </p-inputGroupAddon>
                            </p-inputGroup>
                        </div>
                    </div>
                </p-overlayPanel>
            </td>

        </tr>
    </ng-template>
</p-table>
